# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# World data
worlds/
worlds/*.json

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# Logs
*.log
